.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    
    
    transition: 0.5s;
    z-index: 0;
}

.modalContent{
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(35, 34, 34); */
    background-color: black;
    color: white;
    z-index: 10;
    transition: .5s;
    opacity: 1;
}

.modalContent.active{
    border-radius: 20px;
   
}

.modal.active{
    display: flex;
    pointer-events: all;
}