@media (min-width: 1440px) {
    .header {
        width: 100%;
        height: 60px;
        margin-top: 1.5vh;
        margin-bottom: 15px;
        border-top: 4px solid rgba(255, 255, 255, 0.35);
        border-bottom: 4px solid rgba(255, 255, 255, 0.35);
        display: flex;
        justify-content: center;
    }

    .navBar {
        width: 1440px;
        /* height: 55px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 33px;
    }

    .logo {
        display: flex;
        justify-content: left;
        /* align-items: center;
        align-self: center; */
    }

    .logoText {
        font-size: 35px;
        font-weight: 300;
        color: #E1DFE0;
    }

    .burgerMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 35px;
        cursor: pointer;
    }

    .bar {
        height: 2.5px;
        background-color: #C0C0C0;
        margin: 2.5px 0;
        /* border-radius: 30%; */
    }

    .bar1 {
        width: 30px;
    }

    .bar2 {
        width: 35px;
    }

    .bar3 {
        width: 25px;
    }
}


@media (min-width: 1280px) and (max-width: 1440px) {
    .header {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 32px;
        border-top: 2px solid #242424;
        border-bottom: 2px solid #242424;
        display: flex;
        justify-content: center;
    }

    .navBar {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 33px;
    }

    .logo {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .logoText {
        font-size: 28px;
        font-weight: 300;
        color: #E1DFE0;
    }

    .burgerMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 25px;
        cursor: pointer;
    }

    .bar {
        height: 2px;
        background-color: #C0C0C0;
        margin: 2.5px 0;
        border-radius: 30%;
    }

    .bar1 {
        width: 20px;
    }

    .bar2 {
        width: 25px;
    }

    .bar3 {
        width: 15px;
    }
}

@media (min-width:768px) and (max-width:1280px) {
    .header {
        width: 100%;
        height: 60px;
        margin-top: 1.5vh;
        margin-bottom: 15px;
        border-top: 4px solid rgba(255, 255, 255, 0.35);
        border-bottom: 4px solid rgba(255, 255, 255, 0.35);
        display: flex;
        justify-content: center;
    }

    .navBar {
        width: 1440px;
        /* height: 55px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 33px;
    }

    .logo {
        display: flex;
        justify-content: left;
        /* align-items: center;
        align-self: center; */
    }

    .logoText {
        font-size: 35px;
        font-weight: 300;
        color: #E1DFE0;
    }

    .burgerMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 35px;
        cursor: pointer;
    }

    .bar {
        height: 2.5px;
        background-color: #C0C0C0;
        margin: 2.5px 0;
        /* border-radius: 30%; */
    }

    .bar1 {
        width: 30px;
    }

    .bar2 {
        width: 35px;
    }

    .bar3 {
        width: 25px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .header {
        width: 100%;
        border-top: 2px solid #242424;
        border-bottom: 2px solid #242424;
        display: flex;
        justify-content: center;
    }

    .navBar {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
    }

    .logo {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .logoText {
        font-size: 28px;
        font-weight: 300;
        color: #E1DFE0;
    }

    .burgerMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 25px;
    }

    .bar {
        height: 3px;
        background-color: #C0C0C0;
        margin: 3px 0;
        border-radius: 5px;
    }

    .bar1 {
        width: 23px;
    }

    .bar2 {
        width: 30px;
    }

    .bar3 {
        width: 18px;
    }
}